.add-product-form {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.form-control input {
  padding: 0.3rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  font: inherit;
  color: #e0e0e0;
  outline: none;
}

.form-btn {
  margin: 1rem;
  background: transparent;
  border: none;
  font: inherit;
  color: #e0e0e0;
}
